{% do view.registerAssetBundle("ron\\craftrewards\\assetbundles\\craftrewards\\CraftRewardsAsset") %}
{% do view.registerAssetBundle("ron\\craftrewards\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

<table class="data fullwidth">
    <thead>
    <tr>
        <td>
            First Name
        </td>
        <td>
            Last Name
        </td>
        <td>
            Email
        </td>
        <td>
            Available Points
        </td>
        <td>
            Redeemed Points
        </td>
        <td>
            Expired Points
        </td>
        <td></td>
    </tr>

    </thead>

            <tr>
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.lastName}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.points ? user.points : 0}}
                </td>

                <td>
                    {{user.points_redeemed}}
                </td>

                <td>
                    {{user.points_expired}}
                </td>
                <td>
                    <button type="button" data-points="{{user.points}}" data-id="{{user.id}}" class="btn btn-success btnPoints" data-toggle="modal" data-target="#pointsModal">Add Points</button>

                    <button type="button" data-action="remove" data-points="{{user.points}}" data-id="{{user.id}}" class="btn btn-danger btnPoints submit" data-toggle="modal" data-target="#pointsModal">Remove Points</button>

                </td>
            </tr>
    </table>




<div id="pointsModal" class="modal" style="display:none"> <!-- modal body -->
    <div id="modal" class="body"> <!-- modal-content -->
        <header class="header">
            <h2>Adjust Points</h2>
        </header>

        <form action="" method="POST">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="craft-rewards/default/add-points">
            <input type="hidden" name="customerId" id="customerId" value="">
            <input type="hidden" name="type" id="type" value="">




            <div class="flex">
                <label>Current Points           <span class="badge badge-success pointsOnModal"></span>

                </label>
            </div>
            <div class="input">
                <label for="pwd" >Points</label>
                <input type="number" class="text fullwidth"  name="points" id="points" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>

            <div class="flex" style="padding-top: 15px;">

                <button type="button" class="btn btn-success close" >Cancel</button>

                <button type="submit" class="btn btn-success" >Save</button>

            </div>

        </form>

    </div>
</div>